$gray1: rgb(233, 233, 233);
$gray2: rgb(222, 224, 225);
$gray3: rgb(222, 223, 224);
$gray4: rgb(214, 217, 225);
$gray5: rgb(213, 215, 216);
$gray6: rgb(166, 169, 175);

$black1: rgb(76, 80, 91);
$black2: rgb(51, 54, 62);
$black3: rgb(40, 45, 59);
$black4: rgb(20, 21, 25);

$white: rgb(255, 255, 255);

$blue: rgb(28, 184, 255);

$fontOpenS: "Open Sans", sans-serif;
$fontMontS: "Montserrat", sans-serif;
$fontRaleW: "Raleway", sans-serif;

$transition: all 0.3s ease-in-out;

$pointDesktop: 1024px;
$pointTablet: 768px;
$pointMobile: 480px;
